@tailwind components;

@layer components {
    .input-field-group {
        @apply flex flex-col justify-start text-dark-grey-base p-3 gap-2;
    }

    .input-field-group > label {
        @apply text-sm font-medium capitalize pointer-events-none;
    }

    .input-field-group > label[disabled] {
        @apply text-dark-grey-disabled;
    }

    .input-field-group > div.input-text-group {
        @apply flex relative;
    }

    .input-field-group > div > input {
        @apply
            [&.filled]:ring-dark-grey-placeholder
            w-[100%]
            text-base p-input ring-inset ring-2
            ring-dark-grey-disabled border-none rounded-lg
            enabled:hover:ring-primary-hover enabled:hover:outline-none
            focus:shadow-hover focus:shadow-primary-base/30 focus:ring-primary-hover focus:outline-none
            disabled:ring-dark-grey-disabled disabled:text-dark-grey-disabled;
    }

    .input-field-group > div > label {
        @apply absolute top-[50%] translate-y-[-50%] p-input w-[calc(100%-40px)]
        pointer-events-none text-dark-grey-placeholder text-base whitespace-nowrap overflow-hidden text-ellipsis;
    }

    .input-field-group > div > label[disabled] {
        @apply text-dark-grey-disabled;
    }

    .input-field-group > div > label.filled {
        @apply hidden transition-all duration-[200ms];
    }

    .input-field-group > p {
        @apply text-error text-xs font-normal
    }

    .input-field-group > div > .error {
        @apply ring-error;
    }

    .input-field-group > div > i {
        @apply absolute max-w-[24px] max-h-[24px] top-[50%] translate-y-[-50%];
    }

    .input-field-group > div > i.left {
       @apply left-[1em] object-cover w-[100%] h-[100%]
        [&+input]:pl-[3em];
    }

    .input-field-group > div > label.left {
        @apply pl-[3em];
    }

    .input-field-group > div > i.right {
        @apply right-[1em];
     } 
}