@tailwind components;

@layer components {
    .input-text-container {
        @apply
            flex
            flex-col
            justify-start
            text-dark-grey-base
            p-3
            gap-[8px];
    }

    .input-text-container > label {
        @apply
            text-sm
            font-medium
            capitalize;
    }

    .input-text-container > label[disabled] {
        @apply text-dark-grey-disabled;
    }

    .input-text-container > div {
        @apply relative;
    }

    .input-text-container > div > input {
        @apply
            w-[100%]
            text-base p-input ring-inset ring-2
            ring-dark-grey-disabled border-none rounded-lg
            placeholder:text-dark-grey-placeholder
            enabled:hover:ring-primary-hover enabled:hover:outline-none
            focus:shadow-hover focus:shadow-primary-base/30 focus:ring-primary-hover focus:outline-none
            disabled:ring-dark-grey-disabled disabled:text-dark-grey-disabled disabled:placeholder:text-dark-grey-disabled;
    }

    .input-text-container > p {
        @apply text-error text-xs font-normal
    }

    .input-text-container > div > .error {
        @apply ring-error;
    }

    .input-text-container > div > i {
        @apply 
            absolute
            max-w-[24px]
            max-h-[24px]
            top-[50%] 
            translate-y-[-50%];
    }

    .input-text-container > div > i.lf {
       @apply left-[1em]
        [&+input]:pl-[3em];
    }

    .input-text-container > div > i.rt {
        @apply right-[1em];
     }
}