@tailwind components;

@layer components {
    .slider-wrapper {
        @apply w-[335px] mt-20 ml-20;
    }

    .slider {
        @apply h-2 relative bg-primary-disabled rounded-[30px];
    }

    .slider > .track {
        @apply h-full absolute left-1/4 right-1/4 bg-primary-base  rounded-[30px];
    }

    .range-input {
        @apply relative;
    }

    .range-input > input {
        -webkit-appearance: none;
        background: none;
        @apply w-full h-2 absolute -top-2 pointer-events-none outline-none;
    }

    .range-input > input::-webkit-slider-thumb {
        -webkit-appearance: none;
        @apply h-5 w-5 rounded-[50%] bg-primary-base pointer-events-auto;
    }
}
